{
  "env": { "node": true, "es6": true },
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "babel"
  ],
  "rules": {
    "eqeqeq": "off",
    "dot-notation": "off",
    "no-unused-vars": "warn",
    "no-undef": "error",
    "no-useless-escape": "off",
    "no-empty": "off",
    "object-curly-spacing": ["error", "always", {"objectsInObjects": false, "arraysInObjects": false}],
    "max-len": ["error", { "code": 132 }]
  },
  "ignorePatterns": [
    "build/"
  ],
  "overrides": [
    {
      "files": ["*.js"],
      "parser": "babel-eslint",
      "parserOptions": { 
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
          "modules": true,
          "experimentalObjectRestSpread": true,
          "legacyDecorators": true
        },
        "babelOptions": {
          "configFile": "babel.config.js"
        }
      }
    },
    {
      "files": ["*.ts"],
      "extends": [
        "standard",
        "plugin:@typescript-eslint/eslint-recommended"
      ],
      "globals": { "Atomics": "readonly", "SharedArrayBuffer": "readonly" },
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "project": "./tsconfig.json"
      },
      "plugins": [
        "standard",
        "@typescript-eslint"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "brace-style": "off",
        "camelcase": "off",
        "comma-dangle": ["error", {
          "arrays": "only-multiline",
          "objects": "only-multiline",
          "imports": "never",
          "exports": "never",
          "functions": "never"
        }],
        "func-call-spacing": "off",
        "indent": ["error", 2, {
          "SwitchCase": 1
        }],
        "no-eval": "warn",
        "no-case-declarations": "off",
        "no-empty": ["warn", { "allowEmptyCatch": true }],
        "no-fallthrough": "off",
        "no-unused-vars": "off",
        "no-use-before-define": "off",
        "no-useless-escape": "off",
        "operator-linebreak": "off",
        "prefer-const": "warn",
        "prefer-promise-reject-errors": "off",
        "semi": "off",
        "space-before-function-paren": "off",
        "no-extra-boolean-cast": "off",
        "curly": "off"
      }
    }
  ]
}
